@model IEnumerable<BlogApp.Models.BlogModel>

@{
    ViewData["Title"] = "Index";
    string username = "";
    string name = "";
    string surname = "";
    string phone = "";
    string email = "";
    string photo = "";
    @foreach (var item in Model)
    {
        username = item.User.UserName;
        name = item.User.Name;
        surname = item.User.Surname;
        phone = item.User.PhoneNumber;
        email = item.User.Email;
        photo = item.User.ProfilePhoto;


    }
}
<style>
    ul {
        padding-inline-start: 0px;
        margin-block-end: 0;
    }
    .row{
        margin-right:0px
    }
    hr{
        border:0.5px solid white
    }
</style>
<div class="row">
    <div class="col-md-2" style="background-color:#717aa6;margin-bottom:-30px">

        <img class="rounded-circle mt-2" style="display: block; margin-left: auto; margin-right: auto" width="100" height="100" src="~/Upload/@photo" alt="">
        <div class="media-body text-center">
            <p class="mt-1">@username</p>
            <p class="mt-0">@name @surname</p>
            <p style="word-break:break-word">@phone</p>
            <p style="word-break:break-word">@email</p>



        </div>



    </div>


    <div class="col-md-10" style="padding-top:15px">
        <h1 style="color:white">Yazıları</h1>
        <hr />
        
        @if (Model.Count() == 0)
        {
            <div class="alert alert-danger">Kayıt bulunamadı</div>
        }
        else
        {
            <div class="row" style="margin-right:50px">


                @foreach (var item in Model)
                {
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <img class="card-img-top" height="525" src="~/upload/@item.Image" alt="Card image cap">
                            <div class="card-body">
                                <h2 class="card-title">
                                    @item.Title
                                    
                                </h2>

                                <p class="card-text">@item.Content</p>
                                <a href="/Home/Details/@item.Id" class="btn btn-primary">→ Detay </a>
                            </div>
                            <div class="card-footer text-muted">
                                @item.Date tarihinde
                                <a href="#">@item.User.Name @item.User.Surname</a> tarafından gönderildi.
                                <ul>
                                    @if (item.BlogCategories.Count == 0)
                                    {
                                        <li class="badge badge-danger">Bu paylaşımın kategorisi bulunmamaktadır.</li>
                                    }
                                    @foreach (var category in item.BlogCategories)
                                    {
                                        <li class="badge badge-success mr-2" style="display: inline">
                                            @category.Category.Name
                                        </li>
                                    }

                                </ul>

                            </div>
                        </div>

                    </div>
                   



                }

            </div>
        }


    </div>
</div>






